
{% load static %}
{% block content %}

	<!-- mobile menu -->
    <div class="mercado-clone-wrap">
        <div class="mercado-panels-actions-wrap">
            <a class="mercado-close-btn mercado-close-panels" href="#">x</a>
        </div>
        <div class="mercado-panels"></div>
    </div>

	<!--header-->
	<header id="header" class="header header-style-1">
		<div class="container-fluid">
			<div class="row">				

			
				<div class="container">
					<div class="mid-section main-info-area">

						<div class="wrap-logo-top left-section">
							<a href="#" class="link-to-home"><img src="assets/images/logo-top-1.png" alt="mercado"></a>
						</div>

						<div class="wrap-search center-section">
							<div class="wrap-search-form">
								<form action="#" id="form-search-top" name="form-search-top">
									<input type="text" name="search" value="" placeholder="Search here...">
									<button form="form-search-top" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
						
								</form>
							</div>
						</div>

						<div class="wrap-icon right-section">
							<div class="wrap-icon-section wishlist">
								<a href="#" class="link-direction">
									<i class="fa fa-heart" aria-hidden="true"></i>
									<div class="left-info">
										<span class="index">0 item</span>
										<span class="title">Wishlist</span>
									</div>
								</a>
							</div> 


	
							<div class="wrap-icon-section minicart">
								<a href="{% url 'products:cart_page' %}" class="link-direction">
									<i class="fa fa-shopping-basket" aria-hidden="true"></i>
									<div class="left-info">
										<span class="index">{{cartItems}} items</span>
										<span class="title">CART</span>
								</a>
							</div>
		

							</div>

							<div class="wrap-icon-section show-up-after-1024">
								<a href="#" class="mobile-navigation">
									<span></span>
									<span></span>
									<span></span>
								</a>
							</div>
						</div>

					</div>
				</div>

				<div class="nav-section header-sticky">
		

					<div class="primary-nav-section">
						<div class="container">
							<ul class="nav primary clone-main-menu" id="mercado_main" data-menuname="Main menu" >
								<li class="menu-item home-icon">
									<a href="{% url 'homeapp:homepage' %}" class="link-term mercado-item-title">
										<i class="fa fa-home" aria-hidden="true"></i></a>
								</li>
								<li class="menu-item">
									<a href="about-us.html" class="link-term mercado-item-title">About Us</a>
								</li>
								<li class="menu-item"> 
									<a href="{% url 'products:productPage' %}" class="link-term mercado-item-title">Shop</a>
								</li>
								<li class="menu-item">
									<a href="{% url 'products:cart_page' %}" class="link-term mercado-item-title">Cart</a>
								</li>
								{% if user.is_authenticated %}
								<li class="menu-item">
									<a href="{% url 'users:profilePage' %}" class="link-term mercado-item-title">Account</a>
								</li>	
								<li class="menu-item">
									<a href="{% url 'users:logoutPage' %}" class="link-term mercado-item-title">Logout</a>
								</li>	
								{% else %}
								<li class="menu-item">
									<a href="{% url 'users:loginPage' %}"" class="link-term mercado-item-title">Login</a>
								</li>
								<li class="menu-item">
									<a href="{% url 'users:registerPage' %}" class="link-term mercado-item-title">Register</a>
								</li>
								{% endif %}	

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>




{% endblock %}