
	{% extends 'base.html' %}
	{% load static %}
	{% block content %}
	
		<!--main area-->
		<main id="main" class="main-site left-sidebar">

			<div class="container">
	
				<div class="wrap-breadcrumb">
					<ul>
						<li class="item-link"><a href="#" class="link">home</a></li>
						<li class="item-link"><span>Register</span></li>
					</ul>
				</div>
				<div class="row">
					<div class="col-lg-6 col-sm-6 col-md-6 col-xs-12 col-md-offset-3">							
						<div class=" main-content-area">
							<div class="wrap-login-item ">
								<div class="register-form form-item ">
									<form  action="#" method="POST" >
										{% csrf_token %}
	
										{% if messages %}
										{% for message in messages %}
										<div class="col-sm-12 col-xl-12">
											<div class="alert {{ message.tags }} alert-dismissible" role="alert">
												<strong>{{ message }}!</strong> 
												<button type="button" class="close" data-bs-dismiss="alert"  aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											  </div>
										</div>
										{% endfor %}
										{% endif %}		
	
										<fieldset class="wrap-title">
											<h3 class="form-title">Create an account</h3>
											<h4 class="form-subtitle">Personal infomation</h4>
										</fieldset>	
																	
										<fieldset class="wrap-input">
											<label for="frm-reg-lname">First Name*</label>
											<input type="text"  name="firstname" placeholder="First name*">
										</fieldset>
	
										<fieldset class="wrap-input">
											<label for="frm-reg-lname">Last Name*</label>
											<input type="text"  name="lastname" placeholder="Last name*">
										</fieldset>
	
										<fieldset class="wrap-input">
											<label for="frm-reg-email">Phone Number*</label>
											<input type="text"  name="mobilenumber" placeholder="Phone Number">
										</fieldset>
	
										<fieldset class="wrap-input">
											<label for="frm-reg-email">Email Address*</label>
											<input type="email"  name="email" placeholder="Email address">
										</fieldset>
								
										<fieldset class="wrap-title">
											<h3 class="form-title">Login Information</h3>
										</fieldset>
										<fieldset class="wrap-input item-width-in-half left-item ">
											<label for="frm-reg-pass">Password *</label>
											<input type="password"  name="password" placeholder="Password">
										</fieldset>
										<fieldset class="wrap-input item-width-in-half ">
											<label for="frm-reg-cfpass">Confirm Password *</label>
											<input type="password"  name="confirmpassword" placeholder="Confirm Password">
										</fieldset>
										<input type="submit" value="submit" class="btn btn-sign" >
									</form>
								</div>											
							</div>
						</div><!--end main products area-->		
					</div>
				</div><!--end row-->
	
			</div><!--end container-->
	
		</main>
		<!--main area-->
	
	{% endblock %}
	




