
{% extends 'base.html' %}
{% load static %}
{% block content %}

	<!--main area-->
	<main id="main" class="main-site">

		<div class="container">

			<div class="wrap-breadcrumb">
				<ul>
					<li class="item-link"><a href="#" class="link">home</a></li>
					<li class="item-link"><span>login</span></li>
				</ul>
			</div>
			<div class=" main-content-area">

				<div class="wrap-iten-in-cart">
					<h3 class="box-title">Products Name</h3>
					<ul class="products-cart"> 

                        {% for item in items %}  
						<li class="pr-cart-item"> 
							<div class="product-image">
								<figure><img src="{{item.product.image.url}}" alt=""></figure>
							</div>
							<div class="product-name">
								<a class="link-to-product" href="#">{{item.product.name}}</a> 
							</div>
							<div class="price-field produtc-price">
								<p class="price">{{item.product.price|floatformat:2}}</p>
							</div>
							
							<div class="quantity">
								<div class="quantity-input">
		
									<a class="btn btn-increase add-to-cart" id="cartdata" data-action="add"   data-product="{{item.product.id}}" data-action="add" href="#"></a>
									<input type="text" name="product-quatity" value="{{item.quantity}}" data-max="120" pattern="[0-9]*" >	
									<a class="btn btn-reduce add-to-cart" id="cartdata" data-action="remove"  data-product="{{item.product.id}}" data-action="remove" href="#"></a>								
								</div>
							</div> 

							<div class="price-field sub-total">  
                                <p class="price">{{item.get_total|floatformat:2}}</p>
                            </div>

							{% comment %} <div class="delete"> 
								<a href="#" class="btn "  title="">
									<span>Delete from your cart</span>
									<i  id="cartdata" data-product="{{item.product.id}}" data-action="delete" class="fa fa-times-circle add-to-cart" aria-hidden="true"></i>
								</a>
							</div> {% endcomment %}

						</li>
                        {% endfor %}
                        
					</ul>
				</div> 

				<div class="summary">
					<div class="order-summary">
						<h4 class="title-box">Order Summary</h4>
						<p class="summary-info"><span class="title">Number of Item</span><b class="index">{{cartItems}}</b></p>
						<p class="summary-info"><span class="title">Subtotal</span><b class="index">${{order.get_cart_total}}</b></p>
						<p class="summary-info"><span class="title">Shipping</span><b class="index">Free Shipping</b></p>
						<p class="summary-info total-info "><span class="title">Total</span><b class="index">{{order.get_cart_total|floatformat:2}}</b></p>
					</div>
					<div class="checkout-info">
						<a class="btn btn-checkout" href="checkout.html">Check out</a>
						<a class="link-to-shop" href="{% url 'products:productPage' %}">Continue Shopping<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
					</div>
					{% comment %} <div class="update-clear">
						<a class="btn btn-clear" href="#">Clear Shopping Cart</a>
						<a class="btn btn-update" href="#">Update Shopping Cart</a>
					</div> {% endcomment %}
				</div>

				<div class="wrap-show-advance-info-box style-1 box-in-site">
					<h3 class="title-box">Most Viewed Products</h3>
					<div class="wrap-products">
						<div class="products slide-carousel owl-carousel style-nav-1 equal-container" data-items="5" data-loop="false" data-nav="true" data-dots="false" data-responsive='{"0":{"items":"1"},"480":{"items":"2"},"768":{"items":"3"},"992":{"items":"3"},"1200":{"items":"5"}}' >

				
							{% for product in products %}
							<div class="product product-style-2 equal-elem "> 
								<div class="product-thumnail">
									<a href="{% url 'products:product_details' product.pk %}" title="T-Shirt Raw Hem Organic Boro Constrast Denim">
										<figure><img src="{{product.image.url}}" width="214" height="214" alt="T-Shirt Raw Hem Organic Boro Constrast Denim"></figure>
									</a>
									<div class="group-flash">
										<span class="flash-item new-label">new</span>
										<span class="flash-item sale-label">sale</span>
									</div>
									<div class="wrap-btn">
										<a href="#" class="function-link">quick view</a>
									</div>
								</div>
								<div class="product-info">
									<a href="{% url 'products:product_details' product.pk %}" class="product-name"><span>{{product.name}}</span></a>
									<div class="wrap-price"><ins><p class="product-price">${{product.price}}</p></ins> <del><p class="product-price">${{product.price}}</p></del></div>
								</div>
							</div>
							{% endfor %}

					


						</div>
					</div><!--End wrap-products-->
				</div>

			</div><!--end main content area-->
		</div><!--end container-->

	</main>
	<!--main area-->

{% endblock %}